<!DOCTYPE html>
<html>
<head>
    <title>gleanBoard</title>
    <link href="/assets/styles/board.css" rel="stylesheet" type="text/css" />
    <link href="/assets/styles/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />
    <script src="/assets/scripts/lib/jquery-1.6.2.min.js"></script>
    <script src="/assets/scripts/lib/jquery-ui-1.8.11.min.js"></script>
    <script src="/assets/scripts/lib/jquery.tmpl.js"></script>
    <script src="/assets/scripts/lib/underscore.min.js"></script>
    <script src="/assets/scripts/lib/backbone.min.js"></script>
</head>

<body>
    <div class="page">

        <div id="menuHolder">
            <div id="title">
                <img src="/assets/images/logo.gif" alt="Logo" />
            </div>

            <div id="menu">
                <ul>
                    <li><a id="addCardLink" href="#">Add Card</a></li>
                    <li><a id="addLaneLink" href="#">Add Lane</a></li>
                </ul>
            </div>

        </div>
        <div id="inlineFormHolder">
            <div id="cardForm" style="display:none;">
                <h4>Create Card</h4>
                <form>
                    <table>
                        <tr>
                            <td>
                                <input id="newcardTitle" data-watermark="&lt; Title &gt;" type="text" data-bind="value: newCards()[0].Title, valueUpdate: 'afterkeydown'" />
                            </td>
                            <td rowspan="2">
                                <ul id="newCardVisualizer" class="connectedSortable boardLane" data-bind="template: { name: 'cardTemplate', foreach: newCards}"></ul>
                            </td>
                        </tr>
                        <tr>
                            <td><input id="newcardDescription" data-watermark="&lt; Description &gt;" type="text" data-bind="value: newCards()[0].Description, valueUpdate: 'afterkeydown'" /></td>
                        </tr>
                    </table>
                    <button id="createNewCard" type="button">Create</button>
                </form>
            </div>

            <div id="editCardForm" style="display:none;">
                Edit card here
            </div>

            <div id="laneForm" style="padding:10px; display:none;" >
                <h4>Create Lane</h4>
                <form>
                    <div>
                        <label for="newLaneName">Name</label>
                        <input id="newLaneName" type="text" />
                   </div>

                   <div>
                        <label for="newLanePosition">Place</label>
                        <select id="newLanePosition" data-bind="template : {name: 'newLanePositons'}"></select>
                   </div>

                   <div>
                        <button id="createNewLane">Create New Lane</button>
                    </div>
                </form>
            </div>

        </div>
        <div style="clear:both"></div>
        <div id="main">
            <script src="/assets/scripts/board_backbone.js"></script>
            <script>
                $(function () {
                    var laneModels = new Array();
                    @foreach(var lane in Model.Lanes)
                    {
                        <text>
                            var lane = {Name: '@lane.Name', Cards: new Array()};
                            @if (lane.Cards != null)
                            {
                                foreach (var card in lane.Cards)
                                {
                                    <text>
                                        lane.Cards.push({Id: '@card.Id', Title: '@card.Title', Description: '@card.Description'});
                                    </text>
                                }
                            }
                            laneModels.push(lane);
                        </text>
                    }
                    window.gleanBoard.setupBoard('@Model.Id', laneModels);
                });
            </script>

            <div id="board">
                <ul class="connectedSortable boardLane" data-bind="onCardMove: $root.moveCard, attr: {id:Id}"></ul>
            </div>

            <script id="laneTemplate" type="text/html">
                <% _.each(lanes, function(lane){ %>
                    <div class="boardLaneContainer">
                        <div class="laneName"><%= lane.get('Name') %></div>
                        <ul class="connectedSortable boardLane">
                            <% _.each(lane.get('Lane').models, function(card) { %>
                                <%= cardTemplate({card:card}) %>
                            <% }); %>
                        </ul>
                    </div>
                <% }); %>
            </script>

            <script id="cardTemplate" type="text/html">
                <li id="<%= card.get('Id') %>" class="laneCard">
                    <div class="cardHeader"><%= card.get('Title') %></div>
                    <div class="cardDetails"><%= card.get('Description') %></div>
                </li>
            </script>
        
            <script id="newLanePositonsTemplate" type="text/html">
                <% if(lanes.length > 0) { %>
                    <option value="0">Before <%= lanes[0].get('Name') %></option>
                <% } else { %>
                    <option value="0">At Begining</option>
                <% } %>

                <% for(var i = 0; i < lanes.length; i++) { %>
                    <option value="<%= i + 1 %>">After <%= lanes[i].get('Name') %></option>
                <% } %>
            </script>

            <div style="clear:both;"></div>

        </div>
    </div>

</body>
</html>