<!DOCTYPE html>
<html>
<head>
    <title>gleanBoard</title>
    <link href="/assets/board.css" rel="stylesheet" type="text/css" />
    <link href="/assets/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />
    <script src="/assets/scripts/lib/jquery-1.6.2.min.js"></script>
    <script src="/assets/scripts/lib/jquery-ui-1.8.11.min.js"></script>
    <script src="/assets/scripts/lib/jquery.tmpl.js"></script>
    <script src="/assets/scripts/lib/knockout-1.3.0.js"></script>
</head>

<body>
    <div class="page">

        <div id="menuHolder">
            <div id="title">
                <img src="/assets/images/logo.gif" alt="Logo" />
            </div>

            <div id="menu">
                <ul>
                    <li><a id="addCardLink" href="#">Add Card</a></li>
                    <li><a id="addLaneLink" href="#">Add Lane</a></li>
                </ul>
            </div>

            <div id="cardForm" style="padding:10px; display:none;">
                <h4>Create Card</h4>
                <form>
                    <table>
                        <tr>
                            <td><input id="newcardTitle" type="text" data-bind="value: newCards()[0].Title" /></td>
                            <td><input id="newcardDescription" type="text" data-bind="value: newCards()[0].Description" /></td>
                            <td><ul id="newCardVisualizer" class="connectedSortable boardLane" data-bind="template: { name: 'cardTemplate', foreach: newCards}"></ul></td>
                        </tr>
                    </table>

                </form>


            </div>

            <div id="laneForm" style="padding:10px; display:none;" >
                <h4>Create Lane</h4>
                <form>
                    <div>
                        <label for="newLaneName">Name</label>
                        <input id="newLaneName" type="text" data-bind="value: newLaneName" />
                   </div>

                   <div>
                        <button data-bind="click: addLane">Create New Lane</button>
                    </div>
                </form>
            </div>

        </div>

        <div id="main">
            <script src="/assets/scripts/board.js"></script>

            <script>

                $(function () {
                    viewModel.board = "@Model.Id"
                    @if(Model.Lanes != null)
                    {
                        foreach (var lane in Model.Lanes)
                        {
                            <text>window.viewModel.lanes.push(new lane("@lane.Id", "@lane.Name",[</text>
                            if (lane.Cards != null)
                            {
                                foreach (var card in lane.Cards)
		                        {
			                        <text>new card("@card.Id","@card.Title", "@card.Description"),</text>
		                        }
                            }
                            <text>]));</text>
                        }
                    }
                });

            </script>

            <div class="container" data-bind="foreach: {data: lanes, afterRender: createLanes}">
                <div class="boardLaneContainer">
                    <div class="laneName" data-bind="text: Name"></div>
                    <ul class="connectedSortable boardLane" data-bind="template: {name: 'cardTemplate', foreach: Cards}, onCardMove: $root.moveCard, attr: {id:Id}"></ul>
                </div>
            </div>

            <script type="text/html" id="cardTemplate">
                <li id="${Id}" class="laneCard">
                    <div class="cardHeader">${Title}</div>
                    <div class="cardDetails">${Description}</div>
                </li>
            </script>
        
            <div style="clear:both;"></div>

        </div>
    </div>
</body>
</html>